body {
    margin: 12px;
    font-family: "Raleway", sans-serif;
}

p {
    font-size: 1em;
}

#top-heading {
    margin: 0px;
    padding: 0px;
}

h4 {
    font-size: .95em;
}

.main-nav {
    text-align: right;
    padding: 15px;
    margin: 5px;
}

.mobile-nav {
    display: none;
}

#main-logo {
    width: 100px;
    position: absolute;
	top: 20px; 
	left: 12px;
}

.nav-item, .nav-item-1 {
    display: inline-block;
    margin: 0px 20px;
    font-size: 14px;
}

.menu-link {
    text-decoration: none;
    color: #0065FC;
    font-size: 16px;
    padding: 1px;
    border-radius: 15px;
}

#sign-up {
    margin-left: -2px
}

#top-subheading {
    padding: 0px;
    margin-top: 5px;
    line-height: 20px;
}

.menu-link:hover {
    border-top-style: solid;
    border-radius: 0px;
    padding-top: 22px;
}

#search-bar {
    display: inline-block;
    position: relative;
}

#fa-icon-1 {
    background-color: lightgray;
    border-radius: 1rem 0 0 1rem;
    padding: 11px 12px 12.5px 12px;
}

.fa-customize-location {
    color: black;
    font-size: 18px;
    position: relative;
}

input {
    padding: 12px;
    margin-right: -5px;
    margin-left: -5px;
    border: solid #f2f2f2 1px;
    font-family: "Raleway";
    font-size: 14px;
}

input::placeholder {
    color: black;
    font-weight: 900;
}

input:focus {
    outline: none;
}

button {
    background-color: #0065FC;
    color: white;
    font-weight: 600;
    letter-spacing: .5px;
    padding: 12px;
    border: solid #f2f2f2 1px;
    border-radius: 0 1rem 1rem 0;
    font-family: "Raleway";
    font-size: 14px;
    cursor: pointer;
}

#fa-search-icon {
    display: none;
}

.filters-header{
    margin-right : 16px;
}
  
.filters-container{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
  
.filters-wrapper{
    display: flex;
    align-items: center;
    border: 1.5px solid #f2f2f2;
    width: fit-content;
    border-radius: 2rem;
    margin-left: 12px;
    font-size: 14px;
}
  
.filters-icon{
    color: #0065fc;
    background-color: #DEEBFF;
    border-radius: 2rem;
    width: 15px;
    height: 15px;
    justify-content: center;
    text-align: center;
    padding: 10px 10px;
    margin: 0px 10px 0px -2px;
}
.filters-text{
    flex: 1;
    margin-right: 12px;
    font-weight: 600;
}

.filters-wrapper:hover {
    color: #0065FC;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 5px;
    cursor: pointer;
}

#accomodations-info {							
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;
}

#fa-info {
	font-size: 12px;
	border-radius: 1rem;
	color: #0065FC;
	border: 1.5px solid #F2F2f2;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5px;
	width: 5px;
	padding: 7px;
}
#accomodations-info p {
	font-size: 16px;
	padding-left: 12px;
}

.large-container {
    display: flex;
    flex-flow: row wrap;    
    margin-top: 2%;
    background-color: #f2f2f2;
    width: 65%;
    height: 570px;
    border-radius: 15px;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    flex-direction: row;
    width: 100%;
}

#main-header {
    width: 100%;
    margin-left: 20px;
    margin-bottom: -10px;
    line-height: 20px;
}

#main-subhead {
    margin-left: 20px;
    margin-top: 5px;
    cursor: pointer;
}

.lodging {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 25px;
    width: 30%;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    cursor: pointer;
}

.lodging:hover {
    box-shadow: black 0px 0px 0px 0px;
}

#lodging-1, #lodging-2, #lodging-3, #lodging-4, #lodging-5, #lodging-6 {
    display: flex;
    flex-wrap: wrap;
    width: 96%;
    height: 120px;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
}

.accom-header {
    display: flex;
    flex-direction: row;
    margin: 0px;
    margin-left: 8px;
    padding-top: 8px;
    padding-left: .5rem;
    font-size: 1em;
    font-weight: 800;
}

.accom-desc {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    padding-left: 1rem;
    font-size: .85rem;
}

.ratings-main {
    display: block;
    margin-left: 18px;
    margin-top: -10px;
}

.fa-customize-rating {
    color: #0065FC;
    font-size: 14px;
    margin: -2px;
}

.fa-customize-rating-gray {
    color: lightgray;
    font-size: 14px;
    margin: -2px;
}

.aside-container {
    width: 400px;
    height: 571.5px;
    margin-left: 25px;
    margin-top: 23.75px;
    background-color: #f2f2f2;
    border-width: 1px;
    border-radius: 15px;
    position: absolute;
}

#aside-header {
    margin-left: 20px;
    line-height: 20px;
}

.fa-customize-popular {
    float: right;
    font-size: 25px;
    margin-right: 40px;
    margin-top: 18px;

}

.popular-header {
    display: flex;
    flex-direction: row;
    margin: -130px 20px 34px 20px;
    padding-left: 130px;
    font-size: 1em;
    font-weight: 800;
}

#popular-different {
    line-height: 3.5rem;
}

strong {
    margin-left: 2px;
}

.popular-desc {
    display: flex;
    flex-direction: row;
    margin: -25px 1px;
    padding-left: 150px;
    font-size: .85em;
}

.ratings-aside {
    display: inline-block;
    margin-left: 155px;
    margin-top: 45px;
}

#ratings-popular-two {
    margin-left: 155px;
    margin-top: 45px;
}

#ratings-popular-three {
    margin-left: 155px;
    margin-top: 65px;
}

.fa-customize-rating-aside {
    color: #0065FC;
    font-size: 12px;
    margin: -2px;
}

.fa-customize-rating-aside-gray {
    color: lightgray;
    font-size: 12px;
    margin: -2px;
}

#popular-list-1 {
    background-color: white;
    width: 80%;
    height: 140px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

#popular-list-2, #popular-list-3 {
    background-color: white;
    width: 80%;
    height: 140px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    cursor: pointer;
}

#popular-list-1:hover, #popular-list-2:hover, #popular-list-3:hover {
    box-shadow: black 0px 0px 0px 0px;
}

#popular-1, #popular-2, #popular-3 {
    width: 130px;
    height: 130px;
    border-radius: 1rem 0 0 1rem;
    object-fit: cover;
    margin-top: 5px;
    margin-left: 5px;
}

.activities-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
}

#activities-header {
    line-height: 15%;
    margin-left: 15px;
    margin-top: 3%;
}

.activities-listing {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    cursor: pointer;
}

.activities-tall-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 23%;
    height: 99%;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 3px 0px;
    position: relative;
    overflow: hidden;
}

.activities-tall-image {
    height: 88.75%;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
}

.activities-tall-content {
    padding: 0 1.5rem;
    font-size: 1rem;
    align-content: center;
}

.activities-tall-content h4 {
    margin-left: -5px;
    margin-top: 13.502px;
    text-align: left;
}

.activities-short-container {
    display: flex;
    flex-flow: column wrap;
    width: 23%;
    border-radius: 1rem;
    height: max-content;
    margin-bottom: -4px;
}

.activities-short-card-1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 200px;
    border-radius: 1rem;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.activities-short-card-2 {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    height: 150px;
    border-radius: 1rem;
    margin: 5px;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}

.activities-short-image-1 {
    height: 160px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}

.activities-short-image-2 {
    height: 108px;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
}
.activities-short-content {
    padding: .5rem;
    font-size: 1em;
    align-content: center;
}

.activities-short-content h4 {
    margin: 5px;
    margin-left: 13px;
    text-align: left;
}

.activities-tall-card:hover, .activities-short-card-1:hover, .activities-short-card-2:hover {
    box-shadow: lightgray 0px 0px 10px;
}

footer {
    background-color: #f2f2f2;
    margin-top: 2%;
    padding-left: 25px;
}

#footer-left, #footer-center, #footer-right {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 15px;
}

.footer-links:hover {
    color: #0065FC;
    cursor: pointer;
}

.airplane {
    text-align: center;
    vertical-align: middle;
    background-color: #e6e6e6;
}

.fa-map {
    display: flex;
    color: #0065FC;
    font-size: 20px;
    margin: 20px;
    justify-content: space-evenly;
    
}

.logo-bottom {
    display: none;
    width: 15%;
    margin-left: 42%;
}

/* begin responsive design */

@media only screen and (max-width: 414px) {
    
    html, body {
        overflow-x: hidden;
    }
      body {
        position: relative;
    }

      #main-logo {
        margin-left: -1%;
        margin-top: -4%;
        width: 35%;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav {
	    display: flex;
	    position: relative;
	    background: white;
    }

    .nav-item-1 {
        display: inline-block;
        margin-left: -25%;
        font-size: 14px;
    }

    .mobile-nav a {
		display: inline-block;
        margin-top: 20%;
        color: #0065FC;
		width: 100%;
        font-size: 1.25em;
		padding: 15px;
		text-align: center;
		text-transform: capitalize;
        text-decoration: none;
    }
    .mobile-nav hr {
		position: absolute;
		bottom: 0;
		left: 0;
		margin: 0;
		border: 0;
		height: 4px;
        width: 100%;
        background-color: #0065FC;
    }

    .mobile-nav a:hover, .mobile-nav hr:hover {
        color: gray;
    }
    
    #br-desktop {
        display: none;
    }

    #top-heading {
        margin-top: 10%;
    }

    #top-subheading {
        margin-top: 3%;
    }

    #search-bar {
        display: flex;
	    box-sizing: border-box;
        border: solid white 1px;
	    border-radius: 1rem;
        margin-left: 10px;
        margin-top: 5%;
	    width: 95%;
	    max-width: 400px;
        height: 100%
    }

    input {
        width: 100%;
        height: 25px;
    }

    input::placeholder {
        font-size: 120%;
        font-weight: bold;
        color: black;
    }

    #search-text {
        display: none;
    }

    button {
        display: none;
    }

    #fa-search-icon {
        display: flex;
        color: white;
        background-color: #0065FC;
        font-size: 18px;
        border: solid 1px #f2f2f2;
        border-radius: 15px;
        padding: 15px 18px;
        
    }

    #fa-icon-1 {
        background-color: lightgray;
        border: solid 1px #f2f2f2;
        border-radius: 1rem 0 0 1rem;
        padding: 15px 18px;
        z-index: 2;
    }

    .fa-customize-location {
        color: black;
        font-size: 18px;
        border-radius: 15px;
        position: relative;
    }

    .filters-container {
        display: inline-block;
        width: 375px;
    }

    .filters-header{
        margin-left : 12px;
    }
    
    .filters-wrapper {
        margin: 12px;
        border: 2px solid #f2f2f2;
        font-weight: 700;
    }

    #filters-romantic {
        float: right;
        margin-top: -102px;
        margin-right: 100px;
    }

    #accomodations-info p {
        font-size: 16px;
        width: 280px;
        padding-left: 12px;
        padding-bottom: 10px;
    }

    .fa-info {
        margin-left: 8px;
    }

    /* accomodation cards information */
    
    .large-container {
        display: flex;
        flex-direction: column;
        margin-top: 615px;
        align-content: center;
        height: 100%;
        background-color: transparent;
        width: max-content;
        order: 2;
    }

    #main-header {
        font-weight: 900;
        margin-bottom: 30px;
    }

    .lodging {
        display: flex;
        flex-direction: column;
        margin-left: 14px;
        align-content: center;
        width: 100%;
        max-width: 100%;
        min-width: 93%;;
        padding-bottom: 4px;
        height: 200px;
        margin-top: -5px;
    }

    #lodging-1, #lodging-2, #lodging-3, #lodging-4, #lodging-5, #lodging-6 {
        width: 97%;
        object-fit: cover;
    }

    #main-subhead {
        font-weight: 600;
        font-size: 16px;
    }
    
    .lodging:hover {
        box-shadow: lightgray 0px 0px 29px;
    }
    
    .aside-container {
        width: 100%;
        height: 550px;
        padding: 8px;
        border-radius: 0px;
        order: 1;
        margin-left: -2px;
    }

    #popular-list-1, #popular-list-2, #popular-list-3 {
        margin: 1px;
        margin-top: 20px;
        width: 96%;
        max-width: 95%;
        min-width: 90%;
        margin-left: 4px;
    }

    .fa-customize-popular {
        margin-right: 22px;
    }

    .fa-customize-rating-aside, .fa-customize-rating-aside-gray {
        font-size: 16px;
    }

    #ratings-popular-two {
        margin-left: 155px;
        margin-top: 65px;
    }
    
    #ratings-popular-three {
        margin-left: 155px;
        margin-top: 65px;
    }

    /* activities information */

    .activities-container {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        margin-top: 10px;
        order: 3;
        width: 96%;
        max-width: 95%;
        min-width: 90%;
        padding-right: 20px;
        border-radius: 15px;
    }

    #activities-header {
        font-weight: 600;
        margin-bottom: 30px;
    }

    .activities-listing {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 12px;   
    }

    .activities-short-card-1, .activities-short-card-2, .activities-tall-card {
        width: 388px;
        min-width: 375px;
        height: 200px;
        margin-bottom: 15px;
        margin-left: -10px;
    }

    .activities-tall-content, .activities-short-content {
        font-size: 1rem;
        align-content: center;
    }

    .activities-short-image-1, .activities-short-image-2, .activities-tall-image {
        height: 150px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }

    footer {
        margin-top: 25px;
        width: 375px;
    }

    #footer-left, #footer-center, #footer-right {
        display: block;
        width: 375px;
        padding: 1px;
        margin: -2px;
    }

    .airplane, .fa-plane {
       display: none;
    }

    .logo-bottom {
        display: block;
        width: 20%;
        height: 20%;
    }
}

@media only screen and (max-width: 410px) {

    html, body {
        overflow-x: hidden;
    }
      body {
        position: relative;
    }
   
    .activities-container {
       width: 375px;
   }
   
    .activities-listing {
        width: 10px;
    }

    .activities-short-card-1, .activities-short-card-2, .activities-tall-card {
        width: 360px;
        min-width: 360px;
        height: 200px;
        margin-bottom: 20px;
        margin-left: -20px;
    }

    .activities-tall-content, .activities-short-content {
        align-content: center;
    }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
    
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative;
    }

    #main-logo {
        margin-left: -1%;
        width: 20%;
    }

    .main-nav {
        margin-top: 25px;
    }

    #top-heading {
        margin-top: 5%;
    }

    #top-subheading {
        margin-top: 1%;
    }
        
    .large-container {
        order: 2;
        margin-top: 650px;
        width: max-content;
    }
    
    .aside-container {
        order: 1;
        width: 650px;
        margin-left: 6%;
        margin-top: 50px;
        border-radius: 15px;
    }

    .popular-header {
        display: flex;
        flex-direction: row;
        margin: -130px 40px 78px 150px;
        padding-left: 130px;
        font-size: 1.25em;
        font-weight: 800;
    }
    
    .popular-desc {
        margin-top: -60px;
        margin-left: 130px;
        margin-right: 10px;
        font-size: 1.15em;
    }
    
    #popular-list-1, #popular-list-2, #popular-list-3 {
        margin: 1px;
        margin-top: 20px;
        width: 600px;
        height: 150px;
        margin-left: 25px;
    }

    .fa-customize-rating-aside, .fa-customize-rating-aside-gray {
        font-size: 16px;
    }
    
    #popular-1, #popular-2, #popular-3 {
        width: 250px;
        height: 94%;
        border-radius: 1rem 0 0 1rem;
        object-fit: cover;
        margin-top: 5px;
        margin-left: 5px;
    }

    .fa-customize-popular {
        margin-right: 28px;
    }    

    .ratings-aside {
        margin-left: 280px;
        margin-top: 35px;
    }

    #ratings-popular-two {
        margin-left: 282px;
        margin-top: 40px;
    }

    #ratings-popular-three {
        margin-left: 282px;
        margin-top: 65px;
    }

    br {
        display: none;
    }
        
    .activities-container {
        width: 778px;
        margin-top: 30px;
        order: 3;
    }
        
    .activities-listing {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
     
    .activities-short-card-1, .activities-short-card-2 {
        width: 300px;
        margin-left: -180px;
    }
    
    .activities-short-card-2 {
        margin-bottom: 25px;
    }
    
    .activities-tall-card {
        width: 300px;
        height: 350px;
        margin-left: 50px;    
    }

    footer {
        width: 768px;
        display: inline-block;
    }

    #footer-left, #footer-center, #footer-right {
        width: 25%;
    }
}